@import "../app/page.module.scss";

// top page image and titles
.topMainContainer.ourteachersContainer {
  
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(4,auto);
  position: relative;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.mainContainer{
 

  @include respond-to(lg, min) {
    // margin: 3rem;
    margin-bottom: 0;
  }
  @include respond-to(lg, min) {
    margin: 0rem;

  }
}

.topTextContainer{

  position: absolute;
  left: 8rem;
  top: 2rem;
  background-color: $bgColor;
  // padding: 3rem;
  text-transform: capitalize;
  z-index: 4;
  @include respond-to(sm, min) {
    left: 12rem;
    top: 4rem;
        }
        @include respond-to(md, min) {
       
          left: 16rem;
          top: 5rem;
        }
        @include respond-to(lg, min) {
          // left: 18rem;
        }
        @include respond-to(xl, min) {
          @include respond-to(lg, min) {
            // left: 38rem;
            top: 10rem;
            
          }
        }
        @include respond-to(xxl, min) {}


}
.mainTitle {
  font-size: 1.5rem;
  padding:0 1rem;
  padding-top: 1rem;
  color: $blueColor;
  font-weight: 900;
  background-color: red;
  @include respond-to(sm, min) {
    font-size: 2.8rem;
  
  }
  @include respond-to(lg, min) {
    font-size: 4rem;
  
  }
  @include respond-to(xl, min) {
    font-size: 6rem;
  
  }
}
.mainText {


  margin-top: 2rem;
  color: $blueColor;
  // background-color:$generic1;
  font-weight: 500;
  pointer-events: none;
  opacity: 0.5;
}

.imageBackground{


  grid-column: 1/7;
grid-row: 1/2;
}

.square1 {
  position: absolute;
    left: 7rem;
    top: 1rem;
    height: 4rem;
    width: 4rem;
  background-color: gold;
   z-index: 1;
   @include respond-to(sm, min) {
    left: 11rem;
    top: 3rem;
    height: 5rem;
    width: 5rem;
  
  }
  @include respond-to(md, min) {
    left: 15rem;
    top: 4rem;

  
  }
  @include respond-to(lg, min) {
right: 28rem;
  }
  @include respond-to(xxl, min) {
    left: 35rem;
    top: 8rem;
  }
  }
  
  .square2 {
  position: absolute;
    height: 4rem;
    width: 4rem;
  
    background-color:lightblue;
    left: 17rem;
    top: 4rem;
    z-index: 1;
    @include respond-to(sm, min) {
      left: 30rem;
      top: 8rem;
 
    }
    @include respond-to(md, min) {
      left: 34rem;
      top: 8.5rem;
 
    }

    @include respond-to(xxl, min) {
      left: 79rem;
      top: 18rem;
    }
    

  }

  .ourteachersContainerTest{
    background-color: yellow;
    padding: 6rem 0;
    .mainText{
      background-color: blue;
    }
  }



// staff cards



.coursesTextContainer {

  position: relative; /* Per permettere il posizionamento assoluto degli elementi interni */
}



.courseCardsBox {
padding: 2rem 6rem;

  /* Stile per il contenitore delle card del corso */
display: grid;
// grid-template-columns: repeat(4,1fr);
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,auto);
gap: 1rem;
@include respond-to(xl, min) {
  grid-template-columns: repeat(3,1fr);
   
     
}
}

.cardContainer {
  /* Stile per il contenitore della card */

width: 15rem;


  .cardName{
    font-size: .9rem;
    padding-top: .1rem;
    padding-bottom: 1rem;

 
  }
  .cardRole{
    font-size: .7rem;

  
  }

  @include respond-to(sm, min) {

        }
        @include respond-to(md, min) {}
        @include respond-to(lg, min) {
   
        }
        @include respond-to(xl, min) {
        
        }
        @include respond-to(xxl, min) {}
}




.cardContainer0 {




  grid-column: 1/2;
  grid-row: 2/3;

}
.cardContainer2 {
  margin-right: 2rem;



  grid-column: 2/3;
  grid-row: 2/3;

}

.cardContainer3 {
  grid-column: 3/4;
  grid-row: 2/3;


}
// Kristin style
.cardContainer4 {
  background-color: red;
width: 50rem;




  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 3rem;

// background-color:#e2e9eb ;
.squareBoss{



  position: absolute;


  background-color:gold;
  left: -20rem;
  top: 10rem;
  z-index: -6;
width: 45rem;
height: 15rem;
}
.squareBoss1{



  position: absolute;


  background-color:gold;
  left: -20rem;
  top: -3rem;
  z-index: -4;
width: 55rem;
height: 15rem;
}
.squareBoss2{
position: absolute;

width: 25rem;
height: 45rem;
background-color:#c3dfe9 ;
  right: -4rem;
  top: -3rem;
  z-index: -5;
}

.squareBoss3{
  position: absolute;
  
  width: 74rem;
  height: 36rem;
  background-color:#d0ecf6 ;
    right: -4rem;
    top: 23rem;
    z-index: -5;
  }
  .cardImage {


    width: 159px;
    border-radius: 50%;
    border: solid #add8e6 .3rem;
    margin: 1.5rem;
    padding: 0rem;
  }
  .cardNameContainer{
    position: absolute;
    left: 0rem ;
    top: 3rem;

}
.cardName{
  font-size: 1.1rem;
  margin-top: -3rem;
  border-top: solid .2rem gold;
  @include respond-to(md, min) {
margin-top: 0;
margin-left: 2rem;

  }
  
}
.cardRole{
  font-size: 1rem;
  padding: 2rem 0;
  border-bottom: solid .2rem gold;
  @include respond-to(md, min) {
  
    margin-left: 2rem;
    
    
      }
}
@include respond-to(md, min) {
  // position: relative;
  grid-column: 1/5;
  grid-row: 1/2;
  margin: 3rem;
  margin-left: 20rem;
  margin-bottom: 5rem;
  background-color:#e2e9eb ;

  .squareBoss{
    width: 15rem;
height: 15rem;
  }
  .cardImage {
    width: 259px;
  }
  .cardNameContainer{
    left: 18rem ;
    top: 3rem;
  }
  .cardName{
    font-size: 3rem;
    padding-top: 1rem;
  }
  .cardRole{}
}
@include respond-to(lg, min) {
  grid-column: 1/9;
}
}


.cardImageContainer {
  /* Stile per il contenitore dell'immagine della card */
  position: relative;
}

.cardImage {
  /* Stile per l'immagine della card */
  width: 100%;
  height: auto;
}

.courseLevelContainer,
.cardNameContainer {
  /* Stile per i contenitori del livello e del nome della card */
  padding:1rem;
}

.courseLevel,
.cardName {
  /* Stile per il livello e il nome della card */
  margin: 0;
}

.buttonApplication {
  text-align: center;
  background-color: #add8e6 ;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 2rem;
border-top: solid 1rem gold;
p{
  margin-top: 1rem;
  color: #fff;
}
}



