@import '../../app/page.module.scss';
// Button.module.scss

// .button {
//     padding: 10px 20px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
//     font-size: 16px;
//     transition: background-color 0.3s ease, transform 0.3s ease;
  
//     &:hover {
//       transform: scale(1.05);
//     }
  
//     &:active {
//       transform: scale(0.95);
//     }
//   }

.button {
  display: inline-block;
  // margin-left: 6.25rem;
  padding: 0.7rem;
  width: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.333em;
  background: #fff;
  color: #0741a4;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: #0741a4;
    color: #fff;
  }
  &:active {
          transform: scale(0.95);
        }
}
  
  .applyTodayButton {
    @extend .button;
    background-color: $generic1;
    color: white;
  
    &:hover {
      background-color: $generic2;
    }
  }
  
  .enrollNowButton {
    @extend .button;
    background-color: $generic3;
    color: white;
  
    &:hover {
      background-color:$generic4;
    }
  }

  .buttonAzure{
    @extend .button;
    // background-color: azure;
    // color: #687188 ;
  }
  