@import '../../app/page.module.scss';
// Button.module.scss



.button {
display: inline-block;
 
  padding: 0.7rem;
  width: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 700;
  border-radius: 0.333em;
  background: #fff;
  color: #0741a4;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 4rem;
  margin-top: 1rem;

  &:hover {
    background: $genericNuances7;
    color: #fff;
  }
  &:active {
          transform: scale(0.95);
        }
}
  
  .applyTodayButton {
    @extend .button;
    background-color: $generic1;
    color: white;
  
    &:hover {
      background-color: $generic2;
    }
  }
  
  .enrollNowButton {
    @extend .button;
    background-color: $generic3;
    color: white;
  
    &:hover {
      background-color:$generic4;
    }
  }

  .buttonAzure{
    @extend .button;
 
    color: #1f3c4c ;
    &:hover {
      background-color: #88b4c8 !important; 
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }}
  