@import '../../app/page.module.scss';
// Button.module.scss

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
  
  .applyTodayButton {
    @extend .button;
    background-color: $generic1;
    color: white;
  
    &:hover {
      background-color: $generic2;
    }
  }
  
  .enrollNowButton {
    @extend .button;
    background-color: $generic3;
    color: white;
  
    &:hover {
      background-color:$generic4;
    }
  }
  