@import "../../app/page.module.scss";

.OneMainContainer {
  background-color: #fff;


}
.TwoSectionContainer {
  background-color: #fff;
  

}

.threeMapContainer {
  position: relative;
  background-color: #fff;

  margin-bottom: 8rem;
  @include respond-to(sm, max) {
    margin-top: 4rem;
  }
}
.textContainer {
    @include posAbsoluteTopLeft;
  top: 9.5rem;
  left: 6.5rem;
  height: auto;
  width: 31rem;

  padding:3rem 2rem;
  z-index: 4;
  @include respond-to(sm, max) {
    top: 3rem;
    left: -1rem;
    right: 8rem;
    width: auto;

    
  }
}

.mainTitle {
  font-size: 3rem;
  background-color: $bgColor;
  color: $blueColor;
  padding: 1rem;

  @include respond-to(sm, max) {
  padding: 1.3rem 0rem ;
      font-size: 1.3rem;
      color: $blueColor;
      background-color: $bgColor;
      text-align: center;
   
    
}}
.mainText {
  background-color: $bgColor;
  margin-top:0rem;
  color: $blueColor;
  padding: 1rem;
  // background-color:$generic1;
  font-weight: 500;
  pointer-events: none;
  // opacity: 0.5;
  @include respond-to (sm, max) {
  // display: none;
  background-color: $generic6;
  padding: 1rem;
  margin-top: 6rem;
  margin-left: -1rem;
  width: 25rem;
  color: #fff;

  }
}
.backgroundImage {

max-width: 100%;
overflow: hidden;
height: auto;
  margin-top: 2rem;

  padding: 2rem;

  @include respond-to (sm, max) {
  padding: 0;
 
  
    }

  }



.square1 {
position: absolute;
  left: 6rem;
  top: 23.5rem;
  height: 15rem;
  width: 15rem;
background-color: gold;
 z-index: 2;
 @include respond-to (sm, max) {
  height: 2rem;
  width: 5rem;
  top: 16.5rem;
  left: 10.5rem;

  }
}

.square2 {
position: absolute;
height: 10rem;
width: 10rem;
  background-color:lightblue;
  left: 27rem;
  top: 36.5rem;
  z-index: 2;
  @include respond-to (sm, max) {
  padding: 0;
    height: 2rem;
    width: 2rem;
    top: 11.5rem;
    left: .6rem;
  
    }
}
