@import "../../app/page.module.scss";

$primary-green: #748b67;
$secondary-green: #d2d8da;
$dark-blue: #1a3847;

.introContainer {
  background-color: #eceff0;
  .mainTitle {
    letter-spacing: 0.2rem;
    font-size: 3rem;

    margin-bottom: 10px;
    text-align: center;

    .coloredTuscanyTitle {
      font-weight: normal;
      background-color: gold;
      color: #1a3847;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    .coloredTeflTitle {
      background-color: #748b67;
      text-transform: uppercase;
      font-weight: bold;
      color: #ecfce2;
      padding: 0.5rem 1rem;
    }
  }

  //   .aboutUs {
  //     font-size: 1rem;
  //     line-height: 1.5;
  //     margin: 1rem 6rem;
  //     padding-bottom: 0.5rem;
  //   }
}

.textBox {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  background-color: white;
  border-bottom: 3rem solid $dark-blue;
  padding: 2rem;
}
.aboutUs {
  grid-column: 1;
  grid-row: 1;

  p {
    font-family: "Zeitung Micro Pro";
    font-size: 1rem;
    color: $dark-blue;
    margin: 0 1.5rem;
    margin-top: 5rem;

    line-height: 1.5;
    padding-bottom: 2.5rem;
  }
  .readMoreLink {
    font-family: "Zeitung Pro Black";
    font-size: 1rem;
    color: $dark-blue;
    text-decoration: none;
  }
}

.sloganOne {
  font-family: "AktivGrotesk";
  grid-column: 2;
  font-size: 3rem;
  font-weight: XBold;
  color: $primary-green;
  margin: 0 0.5rem;
  margin-top: 4rem;

  span {
    color: $dark-blue; /* Colore del testo scuro */
  }
}

.sloganTwoBox {
  grid-column: 1 / -1;
  background-color: $secondary-green;

  .sloganTwo {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: #fff;

    padding: 2rem;
    margin: 1rem 4rem;

    span {
      color: red;
    }
  }
}

.OneMainContainer {
  background-color: #fff;
}
.TwoSectionContainer {
  background-color: #fff;
}

.threeMapContainer {
  position: relative;
  background-color: #fff;
  position: relative;
}
.textContainer {
  @include posAbsoluteTopRight;
  height: auto;
  width: 30rem;
  margin: 10rem 8rem 0 0rem;
  background-color: $bgColor;
  padding: 1.5rem;
  z-index: 4;
}

.mainTitle {
  font-size: 3rem;
  color: $blueColor;
}
.mainText {
  margin-top: 1rem;
  color: $blueColor;
  // background-color:$generic1;
  font-weight: 500;
  pointer-events: none;
  opacity: 0.5;
}
.backgroundImage {
  margin: 2rem;
}

.square1 {
  position: absolute;
  left: 7rem;
  top: 21rem;
  height: 15rem;
  width: 12rem;
  padding: 5rem;
  background-color: gold;

  z-index: 2;
}

.square2 {
position: absolute;
left: 29rem;
top: 29rem;
  height: 5rem;
  padding: 5rem;
  background-color: lightblue;

  z-index: 2;
}
