@import "../../app/page.module.scss";

$primary-green: #748b67;
$secondary-green: #d2d8da;
$dark-blue: #1a3847;

// .introContainer {
//   background-color: #eceff0;


//     .aboutUs {
//       font-size: 1rem;
//       line-height: 1.5;
//       margin: 1rem 6rem;
//       padding-bottom: 0.5rem;
//     }
// }
.mainTitle {
  letter-spacing: 0.2rem;
  font-size: 3rem;
margin-bottom: 10px;
 margin-left: 2rem;
 @include respond-to (sm, max) {
  font-size: 2rem;
 }

  

}
.coloredTuscanyTitle {
  font-weight: bold;
  background-color: #add8e6 ;
  color: #1a3847;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  @include respond-to (sm, max) {

  }


}
.coloredTeflTitle {
  background-color: #748b67;
  text-transform: uppercase;
  font-weight: bold;
  color: #ecfce2;
  padding: 0.5rem 1rem;
}

.textBox {

  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
  background-color: white;
  border-bottom: 3rem solid $dark-blue;
  padding: 2rem;
  @include respond-to (sm, max) {
display: flex;
flex-direction: column;
flex-flow: column-reverse;
  }
}
.aboutUs {
  grid-column: 2;


  p {
 
    font-size: 1rem;
    color: $dark-blue;
    margin: 0 1.5rem;
    margin-top: 3rem;

    line-height: 1.5;
    padding: 2rem;
  }
  .readMoreLink {
margin:4.5rem 0 0 3.5rem;
    font-size: 1rem;
    background-color:#add8e6  ;
    padding: .5rem 1rem;
    color: $dark-blue;
    text-decoration: none;
  }
  @include respond-to (sm, max) {
p{
  margin-left: 0;
  margin-right: 0;
}
.readMoreLink {}
  }
}

.sloganOne {

  grid-column: 1;
  grid-row: 1;
  font-size: 3rem;
  font-weight: 900;
  font-weight: XBold;
  color: $primary-green;
  margin: 0 0.5rem;
  margin-top: 4rem;
margin-bottom: 2rem;
  span {
    color: $dark-blue; /* Colore del testo scuro */
  }

  @include respond-to (sm, max) {
    font-size: 1.8rem;
    line-height: 3rem;
    border-top: #1a3847 solid 1rem;
    border-bottom: #1a3847 solid 1rem;
    padding: 2rem;
  }

}

.sloganTwoBox {
  grid-column: 1 / -1;
  background-color: $secondary-green;

  .sloganTwo {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: #fff;

    padding: 2rem;
    margin: 1rem 4rem;

    span {
      color: $primary-green;
    }
    @include respond-to (sm, max) {
      font-size: 1.8rem;
      line-height: 3rem;
      border-top: #1a3847 solid 1rem;
      border-bottom: #1a3847 solid 1rem;
      padding: 2rem;
    }
  }

}

