@import "../../app/page.module.scss";

.One_Main_Container {
    background-color: #fff;
  
  }
  .Two_Section_Container {
  
    background-color: #fff;
  }
  
  .three_Map_Container {
    position: relative;
    background-color: #fff;
  
  }
  .textContainer {
  position: absolute;
  top:16rem;
  right:11rem;
    height: auto;
    width: 30rem;
  
    background-color: $bgColor;
    padding: 1.5rem;
    z-index: 1;
  }
  
  .mainTitle {
    font-size: 3rem;
    color: $blueColor;
  }
  .mainText {
    margin-top: 1rem;
    color: $blueColor;
    // background-color:$generic1;
    font-weight: 500;
    pointer-events: none;
    opacity: 0.5;
  }
  .backgroundImageContainer{
 position: relative;
 
  }
  .backgroundImage {

    max-width: 100%;
    overflow: hidden;
height: auto;
      margin-top: 2rem;
      padding: 2rem;
  
    
    }
  
  .squareOne {
    position: absolute;
   right: 9rem;
    top:14rem;
    height: 15rem;
    width: 12rem;
    padding: 5rem;
    background-color: gold;
  
    z-index: 1;
  }
  
  .squareTwo {
  position: absolute;
  right: 33rem;
  bottom: 20rem;
    height: 5rem;
    padding: 5rem;
    background-color: lightblue;
  
    z-index: 1;
  }


  .parallax1 {

    margin-top: -12rem;
    background-position: left;
 
    padding-bottom: 0rem;
    background-size: cover;

  }
  .blueBack {
    background-color: rgb(26, 96, 215, 0.3);
    // background-color: rgba(116, 139, 103, 0.8);
    padding-bottom:10rem;
    // border-radius: 0% 0% 15% 15%;
  }
  .parallax1Inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    align-items: center;
    a{
        @include listItem;
        @include Link;
        text-transform: uppercase;
        color: $genericSkip1;
        background-color: $blueColor;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        border-radius: 5%;
        text-align: left;
        position: absolute;
        right: 10rem;
        bottom: 6rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
  }
  