@import "../../app/page.module.scss";

.One_Main_Container {
    background-color: #fff;
  
  }
  .Two_Section_Container {
  
    background-color: #fff;
  }
  
  .three_Map_Container {
    position: relative;
    background-color: #fff;
  
  }
  .textContainer {
  position: absolute;
  top: 8rem;
  right: 8rem;
    height: auto;
    width: 30rem;
  
    background-color: $bgColor;
    padding: 1.5rem;
    z-index: 1;
  }
  
  .mainTitle {
    font-size: 3rem;
    color: $blueColor;
  }
  .mainText {
    margin-top: 1rem;
    color: $blueColor;
    // background-color:$generic1;
    font-weight: 500;
    pointer-events: none;
    opacity: 0.5;
  }
  .backgroundImage {

    max-width: 100%;
    overflow: hidden;
    height: auto;
      margin-top: 2rem;
    
    
    }
  
  .squareOne {
    position: absolute;
   right: 6rem;
    top:6rem;
    height: 15rem;
    width: 12rem;
    padding: 5rem;
    background-color: gold;
  
    z-index: 1;
  }
  
  .squareTwo {
  position: absolute;
  right: 30rem;
  top: 26rem;
    height: 5rem;
    padding: 5rem;
    background-color: lightblue;
  
    z-index: 1;
  }
  