@import  '../../app/page.module.scss';


// D_CoursesPreview.module.scss
.cardNameContainer {
  position: absolute;
  margin: 4rem;
  bottom: 0;
  left: 0;
  min-width: 25rem;
  max-width: 25rem;
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo trasparente bianco */
  padding: 1rem; /* Spazio interno */
  backdrop-filter: blur(2px); /* Effetto sfocatura */
}

.cardName {
  margin: 0; /* Rimuove il margine */
  color: #007bff; /* Colore blu */
  font-size: 1.5rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    // font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-family: "Zeitung Micro Pro";
    font-weight: 700;
  }
  
  .coursesSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 3rem;
  }
  
  .cardContainer {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -1;
  }
  .cardContainer {
    position: relative; /* Aggiunto */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardHours {
    position: absolute; /* Aggiunto */
    top: 2rem; /* Posizionato in alto */
     left: 6rem; /* Centrato orizzontalmente */
text-align: center;
    // transform: translateX(-50%); 
    background-color: #1a3847 ; /* Colore blu notte */
    color: #d2d8da ; /* Testo bianco */
    padding: 1.5rem; /* Padding */
    height: 8rem;
    width: 8rem;
    border: 2px solid #ddb239 ; /* Bordo dorato */
    border-radius: 25px; /* Bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
       font-weight: 700;
   
  }
  
  .cardHoursText {
    font-size: 2.8rem; /* Dimensione del testo grande */
 color: #ddb239 ;
    margin-top: -2.8rem;
    margin-bottom: -1.8rem;
    margin-left: -1.4rem;
    letter-spacing: 2px;
    padding: 1rem; 
    
  }
  .hourSpan{
    font-size:1.8rem;
    letter-spacing: 1px;
    margin-left: -.2rem;
    font-weight: 200;
   
  }
  
  
  .cardImageContainer {
    position: relative;
    overflow: hidden;
  }
  
  .cardImage {
    width: 100%;
    height: 25rem;
    display: block;
  }
  
  .cardTextContainer {
    padding: 20px;
  }
  
  .cardTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardDescription {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .courseDetails {
    display: flex;
    flex-wrap: wrap;
  }
  
  .courseDetail {
    font-size: 14px;
    color: #888;
    margin-right: 10px;
  }
  
  .detailsLink {
    display: inline-block;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .detailsLink:hover {
    background-color: #0056b3;
  }

  // level course 
  .courseLevelContainer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%) rotate(45deg) translatex(10%); 
      // transform-origin: top right; 
    }
  
  .courseLevel {
    margin-top: -1rem;
    margin-right: -2.2rem;
    padding: .4rem 3rem;
    font-size: 1.2rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
  }
  