@import  '../../app/page.module.scss';


// D_CoursesPreview.module.scss

.mainContainer {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
  }
  
  .coursesSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
  }
  
  .cardContainer {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -1;
  }
  .cardContainer {
    position: relative; /* Aggiunto */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardHours {
    position: absolute; /* Aggiunto */
    top: 1rem; /* Posizionato in alto */
    left: 5rem; /* Centrato orizzontalmente */
text-align: center;
    transform: translateX(-50%); /* Centrato orizzontalmente */
    background-color: #d2d8da ; /* Colore blu notte */
    color: #1a3847 ; /* Testo bianco */
    padding: 1rem; /* Padding */
    height: 7rem;
    width: 7rem;
    border: 2px solid #ffd700; /* Bordo dorato */
    border-radius: 5px; /* Bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
       font-weight: 900;
   
  }
  
  .cardHoursText {
    font-size: 3rem; /* Dimensione del testo grande */
 
    margin-top: -1rem;
    margin-bottom: -1rem;
    letter-spacing: 2px;
    padding: 0; 
    
  }
  .hourSpan{
    font-size:2rem;
    letter-spacing: 1px;
   
  }
  
  
  .cardImageContainer {
    position: relative;
    overflow: hidden;
  }
  
  .cardImage {
    width: 100%;
    height: 50%;
    display: block;
  }
  
  .cardTextContainer {
    padding: 20px;
  }
  
  .cardTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardDescription {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .courseDetails {
    display: flex;
    flex-wrap: wrap;
  }
  
  .courseDetail {
    font-size: 14px;
    color: #888;
    margin-right: 10px;
  }
  
  .detailsLink {
    display: inline-block;
    
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .detailsLink:hover {
    background-color: #0056b3;
  }
  