@import  '../../app/page.module.scss';


// D_CoursesPreview.module.scss
.cardNameContainer {

   margin-top: -4rem;
 
// border-top: solid .11rem  
// #c61b72;
// border-bottom: solid .11rem  #c61b72 ;
  background-color: rgb(71, 71, 71); 
  background-color: #1a3847;
  background-color: #017bfe;
  padding: .5rem; 
  backdrop-filter: blur(12px); 
}

.cardName {
  margin: 0; 
  color: #fff;
  font-size: 1.5rem;
}

.mainContainer {
  display: flex;
  justify-content: space-between; // Spazio tra le due colonne
  padding: 4rem;
  letter-spacing: 1px;
  font-family: "Zeitung Micro Pro";
  font-weight: 700;
}

.coursesColumn {
  width: 50%; // Occupa il 50% della larghezza della pagina
}

// D_CoursesPreview.module.scss
// boxes sticky on the right
@mixin stickyComponent {
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  width: 50%;
}

.stickyComponent {
  @include stickyComponent ;
background-color: $generic11;
color: #fff;
font-size: 3rem;
}





.container1 {
  max-height: 100%;
  overflow-y: auto;
  background-color: $generic11;
  color: #fff;
h1{

  font-size: 2rem;
  color: #fff;
}
p{
  font-size: 1rem;
  background-color: $genericLight1;
padding-top: 10rem;
}
}
.container2 {
  max-height: 100%;
  overflow-y: auto;
  background-color: $generic12;
color: #fff;
font-size: 3rem;
}

// Resto dello stile per le schede dei corsi e il componente sticky


  
  .coursesSection {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
  
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,auto);
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  .cardContainer {
    // position: relative; 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  // image
  
  .cardImageContainer {
    position: relative;
    overflow: hidden;
    grid-row: 1/3;
    grid-column: 1/4;
  }
  
  .cardImage {

    width: 100%;
    height: 25rem;
    display: block;
  }
  
  .cardTextContainer {
    grid-row: 3/4;
    grid-column: 1/4;
    padding: 2rem;
  }
  
  .cardTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardDescription {

    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .courseDetails {
    display: flex;
    flex-wrap: wrap;
  }
  
  .courseDetail {
    font-size: 14px;
    color: #888;
    margin-right: 10px;
  }
  // link more details
  .detailsLink {
    display: inline-block;
    grid-row: 4/5;
    grid-column: 1/3;
 
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 12;
  }
  
  .detailsLink:hover {
    background-color: #0056b3;
  }

  // level course 
  .courseLevelContainer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(45%) rotate(45deg) translatex(17%); 
      // transform-origin: top right; 
    }
  
  .courseLevel {
    margin-top: -3rem;
    margin-left: 5rem;
    padding: .5rem 0;
    padding-left: 4rem;
    padding-right: 2.5rem;
    font-size: .8rem;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra */
  }


  // hours card

  .cardHours {
    grid-row: 1/1;
    grid-column: 1/1;
    position: absolute; 
    top: 2rem; 
     left: 2rem; 
text-align: center;
    // transform: translateX(-50%); 
    background-color: #1a3847 ; /* Colore blu notte */
    color: #d2d8da ; /* Testo bianco */
    padding: 1.5rem; /* Padding */
    height: 8rem;
    width: 8rem;
    border: 2px solid #ddb239 ; /* Bordo dorato */
    border-radius: 25px; /* Bordi arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
       font-weight: 700;
   
  }
  
  .cardHoursText {
    font-size: 2.8rem; /* Dimensione del testo grande */
 color: #ddb239 ;
    margin-top: -2.8rem;
    margin-bottom: -1.8rem;
    margin-left: -1.4rem;
    letter-spacing: 2px;
    padding: 1rem; 
    
  }
  .hourSpan{
    font-size:1.8rem;
    letter-spacing: 1px;
    margin-left: -.2rem;
    font-weight: 200;
   
  }
  
  