@import  '../../app/page.module.scss';


// COMMON GENERAL STYLES

.flexContainer {
    @include flexProperties; 
// @include padOne;
  }
  .navItem{
    @include listItem;
    margin-left: .5rem;
  }
  .linkTag{
    @include Link;
    text-transform: capitalize;
  }





// TOPNAVABAR
  .navOne{
    @include flexProperties; 
    background-color: lightblue;
    color: cadetblue;
    height: 3rem;
    cursor: pointer;
  }

// CENTRAL NAVBAR

  .navTwo{
  
    background-color: beige;
    color: black;
    cursor: pointer;
    position: sticky;
    top: 0;

  }
  .navTwoBox{
    @include flexProperties; 
  }



  .socialIcon{
    margin-left: .5rem;
  }

  .logoContainer{
    @include flexProperties; 
  }



  // BOTTOM NAVBAR

  .bottomNavContainer{
    background-color: lightpink;
    position: sticky;
    top: 0;
  }

  .fixed{
    background-color: red;
  }

  // buttons in bottom navbar

  // Utilizzo del mixin per creare un pulsante primario
.primaryButton {
  @include button-style($primary-color, #fff, darken($primary-color, 10%), #fff);
}

// Utilizzo del mixin per creare un pulsante di avviso
.warningButton {
  @include button-style($warning-color, #fff, darken($warning-color, 10%), #fff);
}

