@font-face {
  font-family: "Zeitung Micro Pro";
  src: url("/font/zeitung.woff2") format("woff2"),
    url("/font/zeitung.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeitung Pro Black";
  src: url("/font/Zeitung\ Pro\ Black.woff2") format("woff2"),
    url("/font/Zeitung\ Pro\ Black.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeitung Pro Regular";
  src: url("../public/font/ZeitungPro-Regular.woff2") format("woff2"),
    url("../public/font/ZeitungPro-Regular.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeitung WebFont";
  src: url("../public/font/zeitung-pro-webfont.woff2") format("woff2"),
    url("../public/font/zeitung-pro-webfont.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

// zeitung mono pro

@font-face {
  font-family: "ZeitungMonoPro Thin";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Thin.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Thin.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZeitungMonoPro SemiBold";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-SemiBold.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-SemiBold.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZeitungMonoPro Regular";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Regular.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Regular.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZeitungMonoPro Light";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Light.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Light.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZeitungMonoPro ExtraLight";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-ExtraLight.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-ExtraLight.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ZeitungMonoPro ExtraBold";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-ExtraBold.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-ExtraBold.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZeitungMonoPro Bold";
  src: url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Bold.woff2") format("woff2"),
    url("../public/font/Zeitung\ _mono_pro/ZeitungMonoPro-Bold.woff") format("woff");
 
  font-weight: normal;
  font-style: normal;
}

$primary-color: #748b68;
$secondary-color: #598069;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$hover-bg-color: #9e9e9e;
$blueColor:#1f3d4b  ;
$azureColor:#5cb9d0  ;
$bgColor:#eceff0;


// palette 1 Generic Gradient

$generic1: #748b68;
$generic2: #598069;
$generic3: #437369;
$generic4: #356568;
$generic5: #2f5762;
$generic6: #2f4858;
$generic7: #59896d;
$generic8: #378678;
$generic9: #008287;
$generic10: #4f926c;
$generic11: #0074a2;
$generic12: #a8c19b;
$generic13: #e1f8d4;
$generic14: #4f87c6;
$generic15: #007c96;
$genericNuances1: #f4f6f3;
$genericNuances2: #EAEDE8;
$genericNuances3: #E0E4DD;
$genericNuances4: #ffffff;
$genericNuances5: #CBD2C6;
$genericNuances6: #C1C9BA;
$genericNuances7: #B7C0AF;
$genericNuances8: #ADB7A4;
$genericNuances9: #A2AE98;
$genericNuances10: #98A58D;
$genericLight1: #00bfff;
$genericLight2: #cbf7ff;
$genericLight3: #f6edd9;
$genericLight4: #f5fbf1;
$genericLight5: #ebffdd;
$genericLight6: #f1eedf;
$genericSkip1: #ffd589;
$genericSkip2: #df9e55;
$genericSkip3: #a46b23;
$genericSkip4: #598aa7;
$genericSkip5: #225873;
$genericSkip6: #bb7253;
$genericSkip7: #ffd589;
$genericSkip8: #bd6d78;
$genericSkip8: #9999cc;
$genericGrey1: #40493b;
$genericGrey2: #a4ae9e;
$genericGrey3: #d9d6c3;

// transparent
$genericTransparent1: rgba(116, 139, 103, 0.8);


// Colore di sfondo generico
$bg-color: #ffffff; // Puoi sostituire questo con il colore di sfondo desiderato

// Font
$fontFirst: "Zeitung Micro Pro";
$fontSecond: "Zeitung Pro Regular";
$fontThird: "Zeitung Pro Black";
$font-size-base: 16px;

// Spacing
$spacer: 1rem;
$spacerLg: 1.5rem; // Spaziatura grande
$spacerXl: 2rem; // Spaziatura extra grande

// Borders
$border-width: 1px;
$borderRadius: 0.25rem;

// media queries
$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Media query breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Z-index
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;

// Layout
$container-padding-x: 15px; // Padding orizzontale del contenitore
$container-padding-y: 15px; // Padding verticale del contenitore

// .grid-item {
//   // Proprietà degli item...
// }

// Altre variabili e regole...

.h1 {
  font-size: 4rem;
  margin: 15rem;
  height: 150vh;
  background-color: lightpink;
}

.phone icon {
  font-size: 16px; /* Imposta la dimensione delle icone */
}

.phone > svg {
  font-size: 0.5rem;
}
