@font-face {
  font-family: "Zeitung Micro Pro";
  src: url('/font/zeitung.woff2') format('woff2'),
       url('/font/zeitung.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zeitung Pro Black";
  src: url('/font/Zeitung\ Pro\ Black.woff2') format('woff2'),
       url('/font/Zeitung\ Pro\ Black.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZeitungPro Regular";
  src: url('/font/ZeitungPro-Regular.woff2') format('woff2'),
       url('/font/ZeitungPro-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Zeitung Micro Pro", Arial, sans-serif;
}

