@import "./theme.module";
// @import url(https://db.onlinewebfonts.com/c/035afbc26597d9396a64d8fe88645d29?family=Zeitung+Micro+Pro);




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  // font-family: 'Oswald', sans-serif;
  font-family: "Zeitung Micro Pro";
}
