
@import "./mixin.module";
@import "./theme.module";

.samplePage {
  margin: 20rem;
  background-color: $primary-color;
  font-size: 4rem;
  color: #fff;
}
.samplePageBackground {
  background-color: #dc3545;
}
