@import '../../app/page.module.scss';

// general styles
.mainImage{
  max-width: 100%;
  height: auto;
  padding: 1rem;
}
// section general image settings
.imageBackground {
  max-width: 100%;
  height: auto;
}

.applyButton{
  position: absolute;
  right: 8rem;
  top: 14rem;
}

// .enrollButton{}


// FAQ TOP PAGE

.page-0 {
  position: relative;
  h1 {
      font-size: 2rem;
      position: absolute;
      top: 5rem;
      right: 3rem;
      height: auto;
      width: 34rem;
      background-color: $bgColor;
      padding: 3rem 2rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      right: 35rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
      right: 0rem;
      top: 2rem;
      z-index: 2;
    }

    // .section-0{

    // }
}

// WHY FLORENCE BORGON SAN LORENZO


.page-1 {
  position: relative;
  h1 {
      font-size: 2.5rem;
      position: absolute;
      top: 6rem;
      left: 6rem;
      height: auto;
      width: 24rem;
      background-color: $bgColor;
      padding: 3rem 2rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      left: 2rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
      left:25rem;
      top: 12rem;
      z-index: 2;
    }
    .gridContainer-1{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(3,auto);
    }

    .section-0{
      grid-column: 1/4;
      grid-row: 2/3;
      position: relative;
      .imageBackground {
        width:70% ;
        height: auto;
      }
      .topTextContainer{
        background-color: #fff;
        width: 35%;
        height: auto;
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 10rem;

      }
      h2{
        font-size: 2rem;

      

      }
    }
    .section-1{
grid-column: 1/4;
grid-row: 1/2;
display: flex;
flex-direction: column-reverse;
margin: 2rem;
    }
    h2{
      font-size: 3rem;
      background-color: #add8e6 ;
    }
    p{
      font-size: 1.5rem;
      padding-top: 1rem;
  
    }

}
// WORK IN ITALY

.page-2 {
  position: relative;
  h1 {
      font-size: 2rem;
      position: absolute;
      top: 5rem;
      right: 3rem;
      height: auto;
      width: 34rem;
      background-color: $bgColor;
      padding: 3rem 3rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      right: 35rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
    
      right: 0rem;
      top: 2rem;
      z-index: 2;
    }
}

// Consultation Sessions

.page-4 {
  font-family: "Zeitung Micro Pro";
  display: flex;
  flex-direction:column-reverse;
  h1 {
    display: none;
    }


  

    .gridContainer-1{
      // display: grid;
      // grid-template-columns: repeat(3,1fr);
      // grid-template-rows: repeat(3,auto);
  
    }

    .section-0{
      // grid-column: 3/4;
      // grid-row: 1/2;
      // position: relative;
      .imageBackground {
        width:70% ;
        height: auto;
      }
      .topTextContainer{
        position: relative;
        background-color: #fff;
        background-color:lightblue;
        margin: 2rem 0;
        width: 100%;
        height: auto;
        padding: 2rem;
      
        // position: absolute;
        // bottom: 0;
        // left: 10rem;

      }
      h2{
        font-size: 2rem;
        text-align: center;
      }
      .mainSubtitle{
        text-align: center;
        background-color: gold;
      margin:  auto 15.5rem;
      padding-bottom: 1rem;
        position: absolute;
        left: 2rem;
        top: 12rem;
        right: 2rem;
      }
      .mainText{
        position: absolute;
        left: 2rem;
        top: 13.9rem;
        right: 2rem;
        font-size: 1.325rem; /* Dimensione del testo (18px / 16 = 1.125rem) */
    line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
    color: #333; /* Colore del testo, un grigio scuro */
    background-color: #f9f9f9; /* Colore di sfondo, un grigio molto chiaro */
    padding: 1.5rem; /* Spazio interno attorno al testo (16px = 1rem) */
   margin: 1.25rem 0; /* Margine superiore e inferiore (20px / 16 = 1.25rem) */

        width: 37rem; /* Larghezza massima per evitare paragrafi troppo lunghi (600px / 16 = 37.5rem) */
    margin-left: auto; /* Centra il paragrafo orizzontalmente */
    margin-right: auto; /* Centra il paragrafo orizzontalmente */
      }
    }
    .section-1{
// grid-column: 1/2;
// grid-row: 1/2;
// display: flex;
// flex-direction: column-reverse;
margin: 2rem;
    }
    h2{
      font-size: 3rem;
      // background-color: #add8e6 ;
    }
    p{
      font-size: 1.5rem;
      padding-top: 1rem;
  
    }

}

.enrollButton{
  position: absolute;
  top: 85rem;
  right: 2rem;
  left: 32rem;
}







// What Sets Our Center Apart 

.page-5 {
  position: relative;
  h1 {
      font-size: 2rem;
      position: absolute;
      top: 5rem;
      left: 3rem;
      height: auto;
      width: 34rem;
      background-color: $bgColor;
      padding: 3rem 2rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      left: 35rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
      left: 0rem;
      top: 2rem;
      z-index: 2;
    }
}











.portableTextContainer {
   
    margin: 1.25rem 0; 
    // font-family: $fontFirst;
    // font-family: $fontSecond;
    font-family: "Zeitung Micro Pro";
   
    // $fontSecond: "Zeitung Pro Regular";
    // $fontThird: "Zeitung Pro Black";;
    
    p {
     
      font-size: .8rem; 
    
      font-weight: 400;
      line-height: 1rem; 
      color: #333;
    
    }
  
    h2 {
      
      font-size: 1.5rem; 
      margin-top: 1.25rem;
      color: #000;
    }
  
    h3 {
     
      font-size: 1.25rem; 
      margin-top: 0.9375rem; 
      color: #555;
    }
  
    ul, ol {
    
      padding-left: 1.25rem; 
      margin: 0.625rem 0; 
      
      li {
       
        margin-bottom: 0.3125rem; 
      }
    }
  
    a {
      // Stili per i link
      color: #0070f3;
      text-decoration: underline;
      
      &:hover {
        color: #005bb5;
      }
    }
  
    img {
   
      max-width: 100%;
      height: auto;
      margin: 0.625rem 0; 
    }
  
    blockquote {
      // Stili per i blockquote
      padding: 0.625rem 1.25rem; 
      margin: 1.25rem 0; 
      border-left: 0.3125rem solid #ccc; 
      background: #f9f9f9;
      font-style: italic;
    }
  }


  // .page-3 {
  //   h1 {
  //       font-size: 2rem;
  //       position: absolute;
  //       top: 10rem;
  //       left: 0rem;
  //       height: auto;
  //       width: 34rem;
  //       background-color: $bgColor;
  //       padding: 3rem 2rem;
  //       z-index: 4;
  //     }

  //   .square1 {
  //       position: absolute;
  //       left: 0rem;
  //       top: 45rem;
  //       height: 25rem;
  //       width: 15rem;
    
  //       background-color: gold;
    
  //       z-index: 2;
  //     }
    
  //     .square2 {
  //       position: absolute;
  //       height: 5rem;
  //       padding: 5rem;
  //       background-color: lightblue;
  //       left: 0rem;
  //       top: 0rem;
  //       z-index: 12;
  //     }
  // }
  