@import '../../app/page.module.scss';

.imageBackground {
  max-width: 100%;
  height: auto;
}
.page-3 {
  position: relative;
  h1 {
      font-size: 2rem;
      position: absolute;
      top: 5rem;
      left: 3rem;
      height: auto;
      width: 34rem;
      background-color: $bgColor;
      padding: 3rem 2rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      left: 35rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
      left: 0rem;
      top: 2rem;
      z-index: 2;
    }
}



.page-0 {
  position: relative;
  h1 {
      font-size: 2rem;
      position: absolute;
      top: 5rem;
      right: 3rem;
      height: auto;
      width: 34rem;
      background-color: $bgColor;
      padding: 3rem 2rem;
      z-index: 4;
    }

  .square1 {
      position: absolute;
      right: 35rem;
      top: 4rem;
      height: 12rem;
      width: 8rem;
  
      background-color: gold;
  
      z-index: 2;
    }
  
    .square2 {
      position: absolute;
      height: 12rem;
      padding: 4rem;
      background-color: lightblue;
      right: 0rem;
      top: 2rem;
      z-index: 2;
    }
}


// }





.portableTextContainer {
   
    margin: 1.25rem 0; 
    // font-family: $fontFirst;
    font-family: "Zeitung WebFont";
   
    // $fontSecond: "Zeitung Pro Regular";
    // $fontThird: "Zeitung Pro Black";;
    
    p {
     
      font-size: .8rem; 
      font-weight: 900;
      line-height: 1.5rem; 
      color: #333;
    
    }
  
    h2 {
      
      font-size: 1.5rem; 
      margin-top: 1.25rem;
      color: #000;
    }
  
    h3 {
     
      font-size: 1.25rem; 
      margin-top: 0.9375rem; 
      color: #555;
    }
  
    ul, ol {
    
      padding-left: 1.25rem; 
      margin: 0.625rem 0; 
      
      li {
       
        margin-bottom: 0.3125rem; 
      }
    }
  
    a {
      // Stili per i link
      color: #0070f3;
      text-decoration: underline;
      
      &:hover {
        color: #005bb5;
      }
    }
  
    img {
   
      max-width: 100%;
      height: auto;
      margin: 0.625rem 0; 
    }
  
    blockquote {
      // Stili per i blockquote
      padding: 0.625rem 1.25rem; 
      margin: 1.25rem 0; 
      border-left: 0.3125rem solid #ccc; 
      background: #f9f9f9;
      font-style: italic;
    }
  }


  // .page-3 {
  //   h1 {
  //       font-size: 2rem;
  //       position: absolute;
  //       top: 10rem;
  //       left: 0rem;
  //       height: auto;
  //       width: 34rem;
  //       background-color: $bgColor;
  //       padding: 3rem 2rem;
  //       z-index: 4;
  //     }

  //   .square1 {
  //       position: absolute;
  //       left: 0rem;
  //       top: 45rem;
  //       height: 25rem;
  //       width: 15rem;
    
  //       background-color: gold;
    
  //       z-index: 2;
  //     }
    
  //     .square2 {
  //       position: absolute;
  //       height: 5rem;
  //       padding: 5rem;
  //       background-color: lightblue;
  //       left: 0rem;
  //       top: 0rem;
  //       z-index: 12;
  //     }
  // }
  