@import '../../app/page.module.scss';
// B_QuickLinks.module.scss
.quickLinksContainer {
  margin-top: 2rem;
}

.linksList {
  list-style: none;
  padding: 0;
}

.link {
  color: #fff;
  text-decoration: none; 
  transition: color 0.3s ease;
  font-size: 1.2rem;

  &:hover {
    color: #00bcd4;
  }
}