.carousel-item {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-text {
    margin-top: 20px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  .controls button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  