.carousel-item {
//   position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: -1;
}

.carousel-item img {
  max-width: 100%;
  // height: auto;
}
.carousel-text-relativeBox{
    position: relative;
    z-index: -1;
}
.carousel-text {
  position: absolute;
  bottom: 0;
  left: 0;
 

}
.carousel-text-0{
    margin-bottom:20rem;
    margin-left: 1rem;
}
.carousel-text-1{
    margin-bottom:20rem;
    margin-left: 1rem;
}
.carousel-text-2{
    margin-bottom:20rem;
    margin-left: 1rem;
    left: auto;
    right: 0;
}


.controls {
  margin-top: 20px;
}

@mixin controlsButton {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonNext {
  @include controlsButton;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 15rem;
}
.buttonPrev {
  @include controlsButton;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 15rem;
}

.controls button:hover {
  background-color: #0056b3;
}
